---
layout: slide
title: EuRuKo
---

section.center
  h1 Yo!

section.center
  img.inline src="images/me.png"

section.center
  p: a(href="http://gsamokovarov.com") @gsamokovarov

section data-background="https://upload.wikimedia.org/wikipedia/commons/a/ad/AlexanderNevskyCathedral-Sofia-6.jpg"
section.center data-background="https://upload.wikimedia.org/wikipedia/commons/a/ad/AlexanderNevskyCathedral-Sofia-6.jpg"
  h1.white.shadow EuRuKo

section.center data-background="https://upload.wikimedia.org/wikipedia/commons/a/ad/AlexanderNevskyCathedral-Sofia-6.jpg"
  p.white.shadow or:

section.center data-background="https://upload.wikimedia.org/wikipedia/commons/a/ad/AlexanderNevskyCathedral-Sofia-6.jpg"
  p.white.shadow How I Learned to Stop Worrying

section.center data-background="https://upload.wikimedia.org/wikipedia/commons/a/ad/AlexanderNevskyCathedral-Sofia-6.jpg"
  p.white.shadow and Start Organizing Conferences

section.center data-background="#000"
  h2.white Agenda

section.center data-background="#F0F" data-background-transition="fade"
  p.white rand();
section.center data-background="#F0C" data-background-transition="fade"
  p.white rand();
section.center data-background="#F0A" data-background-transition="fade"
  p.white rand();
section.center data-background="#F07" data-background-transition="fade"
  p.white rand();

section.center
  <p>This talk is gonna be weird. <span class="fragment">🐻  with me!</span></p>

section.center data-background="https://upload.wikimedia.org/wikipedia/commons/9/9a/Cluj_Biserica_Sf%C3%A2ntul_Mihail.jpg"
  p.white.shadow.fragment It all started in...

section.center data-background="https://upload.wikimedia.org/wikipedia/commons/9/9a/Cluj_Biserica_Sf%C3%A2ntul_Mihail.jpg"
  h2.white.shadow Cluj-Napoca

section data-background="images/sofia-sibiu.png"

section.center data-background="https://upload.wikimedia.org/wikipedia/commons/a/ab/Brukenthal-sibiu.jpg"
  h2.white.shadow Sibiu

section data-background="images/one-drink.jpg"
  h4.white.shadow.fragment ONE DRINK AND WE GO HOME
section data-background="images/go-home.jpg"
section data-background="https://upload.wikimedia.org/wikipedia/commons/8/8e/%D0%95%D0%BB%D0%B5%D0%BD%D1%81%D0%BA%D0%B0%D0%A1%D0%BB%D0%B8%D0%B2%D0%BE%D0%B2%D0%B0.jpg"

section data-background="images/sibiu-cluj.png"

section.center data-background="images/paddle-boat.jpg"
  p.white.shadow.fragment Пляс, Пляс...

section data-background="images/friends.jpg"

section data-background="http://s.quickmeme.com/img/0b/0b1c1e35489d14bffe413ba1fc178f1987f9d485a5c13a80c7d8f80f85ebdbe2.jpg"

section.center data-background="#000"
  <iframe width="640" height="360" src="https://www.youtube.com/embed/Ohbv6haI1aQ?start=59" frameborder="0" allowfullscreen></iframe>

section data-background="images/friends.jpg"
  p.white.shadow.friends Until this point, we didn't knew EuRuKo existed.

section data-background="images/friends.jpg"
  p.white.shadow Those guys made us go.

section data-background="images/cluj-sofia.png"

section.center data-background="https://upload.wikimedia.org/wikipedia/commons/6/6d/Old_Town_Salzburg_across_the_Salzach_river.jpg"
  h2.white.shadow Salzburg

section.center data-background="#000"
  p.white We didn't go with the idea to bring EuRuKo to Sofia.

section.center data-background="#000"
  p.white We didn't even know EuRuKo is moving every year.

section data-background="images/first-day.jpg"
  p.white We learned that during the first day.

section data-background="images/the-idea.jpg"
  p.white.shadow We got the idea, that maybe, we can pitch Sofia.

section data-background="images/jump-sellout.jpg"
  p.white.shadow And I can do a lightning talk on jump.

section.center data-background="#000"
  h1.white.pixel jump

section.center
  img.inline src="images/me-pixel.png"

section.center
  p.pixel: a(href="http://gsamokovarov.com") @gsamokovarov

section data-background="images/pixelparty.gif"
section data-background="images/epileptic.gif"

section.center data-background="#000"
  h2.white.pixel <3 $SHELL

section.center data-background="#000"
  p.white.pixel I wanna type less.

section.center
  p.pixel cd(1), pushd(1), popd(1)

section.center
  img.inline src="images/yolo.png"

section.center data-background="#000"
  h2.white.pixel aliases

section.center data-background="#000"
  pre.white.pixel
    '
      alias wc="cd /Users/genadi/Development/web-console"
      alias rls="cd /Users/genadi/Development/rails"
      alias gw="cd /Users/genadi/Development/gateway"

section.center
  img.inline src="images/smiley.jpg"

section.center
  p.pixel Tedious to change.

section.center
  img.inline src="images/sad.png"

section.center
  h2.pixel autojump(1)

section.center
  p.pixel A faster way to navigate your filesystem.

section.center
  p.pixel Works by maintaining a database of the directories you use the most from the command line.

section.center
  img.inline src="images/smiley.jpg"

section.center data-background="#000"
  pre.white.pixel
    '
      $ j rails
      $ pwd
      /Users/genadi/Development/rails

section.center
  p.pixel Requires a working Python installation.

section.center
  img.inline src="images/troll.png"

section.center
  p.pixel Tedious to integrate with the shell.

section.center
  p.pixel Its not fuzzy.

section.center
  img.inline src="images/sad.png"

section.center data-background="#000"
  h2.white.pixel z(1)

section.center
  img.inline src="images/smiley.jpg"

section.center
  p.pixel Doesn't work on fish shell.

section.center
  p.pixel Its not fuzzy.

section.center
  img.inline src="images/sad.png"

section.center data-background="#F00"
  h2.white.pixel jump

section.center data-background="#0F0"
  h2.white.pixel jump

section.center data-background="#0FF"
  h2.white.pixel jump

section.center data-background="#F0F"
  h2.white.pixel jump

section.center.pixel
  p Kinda like autojump(1) or z(1).

section.center data-background="images/bubbles.gif"
  h2.fragment.white.pixel FUZZY!
section.center data-background="images/bubbles.gif"
  h2.white.pixel YOU TYPE LESS!
section.center data-background="images/bubbles.gif"
  h2.white.pixel AWESOME!

section.center data-background="#000"
  h2.fragment.white.pixel DEMO

section.center data-background="#000"
section.center data-background="#000"
  pre.white.pixel
    '
      $ brew tap gsamokovarov/jump
      $ brew install jump

section.center data-background="#000"
  pre.white.pixel
    '
      $ eval "$(jump shell)"

section.center
  p.pixel: a(href="http://gsamokovarov.com/jump") http://gsamokovarov.com/jump

section.center
  p.pixel: a(href="http://github.com/gsamokovarov/jump") http://github.com/gsamokovarov/jump

section data-background="images/jump.gif"

section.center
  p.fragment I told you this talk is gonna be weird. 💥

section.center data-background="http://i2.kym-cdn.com/entries/icons/original/000/008/356/moray.jpg"
  p.white.shadow.fragment This was the lightning talk I didn't get to give.

section.center data-background="http://i2.kym-cdn.com/entries/icons/original/000/008/356/moray.jpg"
  p.white.shadow Cause I have no idea how freaking conferences work.

section.center data-background="http://www.salzburg.info/bdb12_sbg_allg/1201_panorama_071.jpg"
  h2.white.shadow Day 2

section data-background="images/svetlio.jpg"
  p.white.shadow I had the jump presentation.

section data-background="images/svetlio.jpg"
  p.white.shadow Vesti had notes about the Sofia presentation.

section data-background="images/svetlio.jpg"
  p.white.shadow It was a project.

section data-background="images/svetlio.jpg"
  p.white.shadow We skipped the lunch and made a presentation.

section.center data-background="http://i2.kym-cdn.com/entries/icons/original/000/008/356/moray.jpg"
  p.white.shadow I'm not gonna show it this time.
section.center data-background="http://i2.kym-cdn.com/entries/icons/original/000/008/356/moray.jpg"
  p.white.shadow Yes, I'm a sellout.

section data-background="https://upload.wikimedia.org/wikipedia/commons/8/8e/%D0%95%D0%BB%D0%B5%D0%BD%D1%81%D0%BA%D0%B0%D0%A1%D0%BB%D0%B8%D0%B2%D0%BE%D0%B2%D0%B0.jpg"

section data-background="images/svetlio.jpg"
  p.white.shadow.fragment By the way, this is Svetlio.

section data-background="images/problem.jpg"
  p.white.shadow However, we had a problem.

section data-background="images/problem.jpg"
  p.white.shadow Vesti had to catch a plane.

section data-background="images/problem.jpg"
  p.white.shadow I "had" a lightning talk to give.

section data-background="images/svetlio.jpg"
  p.white.shadow Remember Svetlio?

section.center data-background="#000"
  p.white We pitched it.

section.center data-background="#000"
  p.white It worked!

section data-background="https://pbs.twimg.com/media/CRnFYAjWIAAAF-G.jpg:large"

section.center data-background="#000"
  h2.white EuRuKo

section.center
  p Inexpensive conference.

section.center
  p One track.

section.center
  p Big lunch break.

section.center
  p Been around since 2009.

section.center
  p: a(href="http://www.euruko.org/") euruko.org

section.center data-background="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Bulgaria.svg/2000px-Flag_of_Bulgaria.svg.png"
  h2.white.shadow.fragment Organizers

section data-background="http://www.gravatar.com/avatar/474540ad8a09ad0a9a5deae11e7e2be3.jpg?s=800"
section data-background="https://avatars0.githubusercontent.com/u/1100307?v=3&s=800"
section data-background="https://avatars3.githubusercontent.com/u/9058236?v=3&s=800"
section.center
  img.inline src="http://www.euruko2015.org/images/logo.png" height="600px"

section.center
  img.inline src="http://orig14.deviantart.net/f300/f/2013/065/f/6/halp_pls_by_pikarar-d5x52lz.gif" height="600px"

section data-background="https://media.giphy.com/media/lZd4oyt1EzC3C/giphy.gif"
section data-background="images/take.gif"

section.center data-background="#000"
  h2.white Plan

section.center
  p First two weekends of October.

section.center
  p Main event at Friday and Saturday.

section.center
  p Location of either NDK or SEC.

section data-background="https://upload.wikimedia.org/wikipedia/commons/1/13/NDK_Sofia_2012_PD_06.jpg"

section.center
  p Around 700 participants.

section.center
  p Ticket price of 65€.

section.center
  p Two keynotes.

section.center data-background="#000"
  p.white Fin.

section data-background="images/stickers.jpg"
